# Multivariate Data Selection

This notebook deals with the topic of selecting multiple variables in `pandas` dataframes.

Basically, three major ways are used:

- `df['ColName']`
    - A view of the entire column is obtained
    - We cannot change sliced row values, unless we change the entire column
    - Equivalent to `df.ColName`
- `df.loc['a':'b','ColName']`
    - Locations are accessed through labels or **booleans**: rows, columns
    - No index numbers, but **labels** or **booleans**!
    - Specific cells can be changed
    - We can use it for changing sliced row values
- `df.iloc[1:5,3:7]`
    - Same as `loc`, but we use **index numbers** or **booleans** instead of labels
    - We can used to change sliced row values
    
Overview of contents:
1. Column Selection
2. Slicing
3. Selection by Conditions
4. Common Errors

## 1. Column Selection

In [1]:
import numpy as np
import pandas as pd

# If we want to show ALL (100) columns
pd.set_option('display.max_columns', 100)

In [2]:
df = pd.read_csv("nhanes_2015_2016.csv")

In [3]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [4]:
# Get column names
col_names = df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [7]:
# Define col names to keep manually
keep = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST']

In [8]:
df[keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [9]:
# Define col names to keep with a list comprehension
keep = [column for column in col_names if 'BMX' in column]

In [10]:
df[keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

## 2. Slicing

In [12]:
# All rows, keep cols
df.loc[:, keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [13]:
# Which column (names) are in keep?
index_bool = np.isin(df.columns, keep)

In [14]:
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [15]:
# Indexing with booleans
df.iloc[:,index_bool].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

## 3. Selection by Conditions

In [19]:
# df with all columns in keep: BMX*
df_BMX = df[keep]

In [20]:
waist_median = pd.Series.median(df_BMX['BMXWAIST'])

In [21]:
waist_median

98.3

In [22]:
df_BMX[df_BMX['BMXWAIST'] > waist_median].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
9  108.3  179.4    33.6    46.0     44.1     38.5     116.0

In [25]:
# df[]
# We specify the conditions of the ROW cell values we want to select
# Several conditions can be chained with
# & or |
condition1 = df_BMX['BMXWAIST'] > waist_median
condition2 = df_BMX['BMXLEG'] < 32
df_BMX[condition1 & condition2].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [26]:
# df.loc[]
# ROWs to keep have been specified
df_BMX.loc[condition1 & condition2, :].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [27]:
# Create a new df with only 5 rows (default output of head())
tmp = df_BMX.loc[condition1 & condition2, :].head()
# Change index
tmp.index = ['a', 'b', 'c', 'd', 'e']
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [28]:
# Specific loc[] row selection
tmp.loc[['a', 'b'],'BMXLEG']

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

In [29]:
# Specific iloc[] row selection
tmp.iloc[[0, 1],3]

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

## 4. Common Errors

Error 1: `df[]` can access only to column names/labels
    
    # Wrong
    tmp[:, 'BMXBMI']
    # Correct
    tmp.loc[:, 'BMXBMI']
    tmp.loc[:, 'BMXBMI'].values
    
Error 2: `df.iloc[]` can access only to row & column index numbers + booleans
    
    # Wrong
    tmp.iloc[:, 'BMXBMI']
    # Correct
    tmp.iloc[:, 1]
    
Error 3: `df.loc[]` can access only to row & column labels/names + booleans
    
    # Wrong
    tmp.loc[:, 2]
    # Correct
    tmp.iloc[:, 2]
    
Error 4: `df[]` can be used for changing entire column values, but `df.loc[]` or `df.iloc[]` should be used for changing sliced row values

    # Correct
    tmp = df[['BMXBMI', 'BMXLEG']]
    tmp['BMXBMI'] = range(5)
    
    # Wrong: values a set to a copy of tmp
    tmp[tmp.BMXBMI > 2]['BMXBMI'] = [10]*2 
    # Correct: values are set to tmp
    tmp.loc[tmp.BMXBMI > 2, 'BMXBMI']  = [10]*2